doctype html
html(lang="en")
  include components/head.pug

  main
    #container.justify-center.items-center
      <ion-icon name="qr-code-outline" class="text-9xl"></ion-icon>
      
      h1(class="text-2xl text-center") Per iniziare
        br
        span.font-bold scansiona il QR code che vedi sul campanello

  include components/footer.pug